.dvThumb {
    padding: 15px;
    height: 489px;
    overflow: auto;
}
.dvThumb img {
    max-height: 164px;
    margin-top: 10px!important;
    width: auto!important;
    margin: 0 auto;
    display: block;
}